<h2>Add new strip</h2>
	<form action="/add" method="post" enctype="multipart/form-data">
      	      <label>Strip title  <input type="text" name="title"></label><br>
	      <label>Strip file <input type="file" name="file"></label><br>
	      <textarea cols="80" rows="15" name="blurb"></textarea>
	      <input type="submit" value="Submit">
	      
</form>