<ul class="archive_list">
	<% if @strips.empty? %>
		<p>No strips found!</p>
  <% else %>
	  <% @strips.each do |strip| %>
  	   <li><%= strip.id %>: <a href="/<%= strip.id %>"> <%= strip.title %></a></li>
  	<% end %>
	<% end %>
</ul>
