<% if !strips.nil? and !strips.empty? %>
	<ol>
  	<% strips.each do |strip| %>
    	<li><a href="/<%= strip.id %>"> <%= strip.title %></a></li>
  	<% end %>
	</ol>
<% else %>
  <div> Archive - No Strips! </div>
<% end %>