<!doctype html>
<html>
  <head>
    <title>Striptease test build</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
  <!-- TODO: add links to other site structures-->
  Hello, world! Add your global stylesheet for the website here. Leave the tag below unchanged.
  <%= erb @request %>
  </body>
</html>
